@import "tailwindcss";

@theme inline {
  --color-primary: #0284c7;
  --color-primary-dark: #0369a1;
  --color-primary-light: #e0f2fe;
  --color-accent: #f97316;
  --color-accent-dark: #ea580c;
  --color-accent-light: #fff7ed;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
